{{ headScript().appendFile(basePath() ~ '/js/bet/table.js')|raw }}
{{ flashMessenger().render() }}

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-times fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">{{ losing }}</p>
                        <p class="announcement-text">Losing bets</p>
                    </div>
                </div>
            </div>
            <a href="/bet/?successful=0">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                            See all losing bets
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-check-square fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">{{ winning }}</p>
                        <p class="announcement-text">Winning Bets</p>
                    </div>
                </div>
            </div>
            <a href="/bet/?successful=1">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                            See all winning bets
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-money fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">{{ bankroll.getAmount() }}</p>
                        <p class="announcement-text">Bankroll</p>
                    </div>
                </div>
            </div>
            <a href="/bankroll/history/{{bankroll.getId() }}">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                            See bank history
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped table-hover tablesorter">
            <thead>
            <tr>
                <th>Bet <i class="fa fa-sort"></i></th>
                <th>Status <i class="fa fa-sort"></i></th>
                <th>Date <i class="fa fa-sort"></i></th>
                <th>Bet amount <i class="fa fa-sort"></i></th>
                <th>Potential Return <i class="fa fa-sort"></i></th>
                <th>Actions <i class="fa fa-cogs"></i></th>
            </tr>
            </thead>
            <tbody>

            {% for bet in bets %}
                <tr>
                    <td><a href="/bet/edit/{{ bet.getId() }}">{{ bet.getName() }}</a></td>

                    <td>
                        {% if bet.getSuccessful() == 1 %}
                            <span class="label label-success">Win</span>
                        {% else %}
                            <span class="label label-danger">Lose</span>
                        {% endif %}
                    </td>

                    <td>{{ bet.getDate() }}</td>
                    <td>{{ bet.getAmount() }}</td>
                    <td>{{ bet.getReturn() }}</td>
                    <td>
                        <a href="/bet/edit/{{ bet.getId() }}">Edit</a> |
                        <a href="/bet/delete/{{ bet.getId() }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        {% include 'partials/pagination' with {'paginator': bets} %}

    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <h4>Day-by-day Recent Performance</h4>
        <table class="table table-striped table-hover tablesorter">
            <thead>
            <tr>
                <th>Day <i class="fa fa-sort"></i></th>
                <th>Status <i class="fa fa-sort"></i></th>
                <th>Totals <i class="fa fa-sort"></i></th>
            </tr>
            </thead>
            <tbody>

            {% for bet in betsByDay %}
                <tr>
                    <td>{{ bet['theDate']|date("D dS") }}</td>
                    <td>
                        {% if bet['total'] > 0 %}
                            <span class="label label-success">Win</span>
                        {% else %}
                            <span class="label label-danger">Lose</span>
                        {% endif %}
                    </td>
                    <td>{{ bet['total'] }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    <div class="col-lg-4">
        <h4>Month-by-month Recent Performance</h4>
        <table class="table table-striped table-hover tablesorter">
            <thead>
            <tr>
                <th>Month <i class="fa fa-sort"></i></th>
                <th>Status <i class="fa fa-sort"></i></th>
                <th>Totals <i class="fa fa-sort"></i></th>
            </tr>
            </thead>
            <tbody>

            {% for bet in betsByMonth %}
                <tr>
                    <td>{{ bet['date']|date("M Y") }}</td>
                    <td>
                        {% if bet['total'] > 0 %}
                            <span class="label label-success">Win</span>
                        {% else %}
                            <span class="label label-danger">Lose</span>
                        {% endif %}
                    </td>
                    <td>{{ bet['total'] }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>